@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Platzi Web</h1>
    <p>Aprende sobre <a href="https://platzi.com/clases/git-github/">Integración Continua</p>
</div>
